extends base

block emailContent
  p A new order has been created

  div(class="post-card")
    if productInCart.length === 0
      p No orders available in new order
    else
      each product in productInCart
        div(class="post-card")
          h3 #{product.title}
          p #{product.price}
          p #{product.quantity}
    p(class="post-card__content") Valor total: #{totalPrice}